* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  margin: 0px 0px 0px 0px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  background-color: rgb(90, 90, 204);
}
nav .h1-logado {
  color: white;
  margin-left: 7.5em;
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  gap: 30px;
  margin: 10px 20px 10px 20px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
nav .nav-logado {
  color: white;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-logado .btn-sair {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  color: white;
  text-decoration: none;
  transition: 0.5s;
}
nav .nav-logado .btn-sair:hover {
  color: aqua;
  text-decoration: underline;
}

.container {
  border: 1px solid black;
}
.container .container-agenda {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.container .container-agenda .titles {
  margin: 20px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
}
.container .container-agenda table {
  display: flex;
  flex-direction: column;
  background-color: rgba(148, 255, 241, 0.329);
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
}
.container .container-agenda table tr {
  display: flex;
  gap: 40px;
  border: 1px solid black;
  margin-top: 20px;
  margin-bottom: 20px;
}
.container .container-agenda table tr td {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 10px;
}
.container .container-agenda table tr td a {
  text-decoration: none;
  transition: 0.3s;
}
.container .container-agenda table tr td a:hover {
  text-decoration: underline;
}
.container .container-agenda table tr td .deletar {
  color: red;
}
.container .container-agenda table tr td .editar {
  color: rgb(1, 56, 5);
}

.alert-danger {
  margin: auto;
  width: 500px;
  padding: 10px 20px;
  font-size: 1.1rem;
  background-color: rgba(255, 192, 203, 0.623);
  border-radius: 10px;
  border: none;
  color: rgb(124, 1, 1);
  margin-bottom: 40px;
  text-align: center;
}

.alert-sucess {
  margin: auto;
  width: 350px;
  font-size: 1.1rem;
  background-color: rgba(138, 228, 153, 0.582);
  border-radius: 10px;
  border: none;
  color: rgb(24, 121, 0);
  padding: 10px;
  margin-bottom: 40px;
  text-align: center;
}

.display-sub-head {
  font-size: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 140px;
}

.display-login {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 10px;
}
.display-login .titulos {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 20px 0px;
  gap: 10px;
  align-items: center;
}
.display-login .titulos h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 2.1rem;
  padding: 10px;
}
.display-login .titulos p {
  font-weight: bold;
  font-size: 1.1rem;
}
.display-login .sing-in {
  width: 550px;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  box-shadow: 4px 3px 15px 5px rgba(0, 0, 0, 0.384);
  border-radius: 10px;
}
.display-login .sing-in .form-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.display-login .sing-in .form-cadastro .cadastro-form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px 0px;
}
.display-login .sing-in .form-cadastro .cadastro-form-group label {
  font-size: 1.2rem;
}
.display-login .sing-in .form-cadastro .cadastro-form-group .cadastro-form-control {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}
.display-login .sing-in .form-cadastro button {
  letter-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 15px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  transition: 0.3s;
}
.display-login .sing-in .form-cadastro button:hover {
  background-color: rgba(50, 50, 216, 0.671);
}
.display-login .log-in {
  border-radius: 10px;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  width: 550px;
  box-shadow: 4px 3px 15px 5px rgba(0, 0, 0, 0.384);
}
.display-login .log-in .form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.display-login .log-in .form-login .form-login-group {
  display: flex;
  flex-direction: column;
}
.display-login .log-in .form-login .form-login-group label {
  font-size: 1.2rem;
}
.display-login .log-in .form-login .form-login-group .form-login-control {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  font-size: 1rem;
}
.display-login .log-in .form-login button {
  letter-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  transition: 0.5s;
}
.display-login .log-in .form-login button:hover {
  background-color: rgba(50, 50, 216, 0.671);
}

.pag-error {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pag-error h1 {
  margin-top: 5rem;
  font-size: 8rem;
}
.pag-error p {
  font-size: 1.3rem;
}

.contato {
  width: 1400px;
  margin: auto;
}
.contato .form-contato {
  margin: 100px;
  padding-top: 20px;
  padding-bottom: 50px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
}
.contato .form-contato h1 {
  margin-top: 25px;
  margin-bottom: 25px;
}
.contato .form-contato button {
  margin-top: 10px;
  letter-spacing: 1px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 10px 30px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid rgb(0, 0, 0);
  transition: 0.5s;
}
.contato .form-contato button:hover {
  background-color: rgba(50, 50, 216, 0.671);
}
.contato .form-contato .contato-group {
  border: 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.contato .form-contato .contato-group label {
  font-size: 1.1rem;
}
.contato .form-contato .contato-group input {
  border: 1px solid black;
  font-size: 1rem;
  border-radius: 10px;
  padding: 10px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}/*# sourceMappingURL=style.css.map */