<%- include('includes/head') %>
<%- include('includes/navbar') %>

<body>
<div class="pag-error">
     <h1>Erro 404!</h1>
     <p>
          A pagina que você procura não existe.
     </p>
</div>
</body>

<%- include('includes/footer') %>