<nav>
        <ul>
                <li>
                        <a href="/">PJ AGENDA</a>
                </li>
        </ul>

        <ul>
                <li>
                        <a href="/login/index">Faça login</a>
                </li>

        </ul>
</nav>