<%- include('includes/head') %>
     <%- include('includes/navbar') %>
          <div class="contato">
               <form class="form-contato" action="/" method="post">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <!-- <input class="" type="text" name="name" id="cname" placeholder="Digite seu nome" required> -->

                    <h1>Adicione o seu contato</h1>

                    <div class="contato-group">
                         <label for="contato-name">Digite seu nome</label>
                         <input type="text" name="contato-name" id="contato-name" placeholder="Digite seu Nome"
                              required>
                    </div>

                    <div class="contato-group">
                         <label for="contato-sobrenome">Digite seu Sobrenome</label>
                         <input type="text" name="contato-sobrenome" id="contato-sobrenome"
                              placeholder="Digite seu Sobrenome" required>
                    </div>

                    <div class="contato-group">
                         <label for="contato-email">E-mail</label>
                         <input type="email" name="contato-email" id="contato-email" placeholder="Digite seu E-mail"
                              required>
                    </div>
                    <div class="contato-group">
                         <label for="contato-numero">Número</label>
                         <input type="text" name="contato-numero" id="contato-numero" placeholder="Digite seu Número"
                              required>
                    </div>
                    <button type="submit" class="">Adicionar Contato</button>
               </form>
          </div>

          <%- include('includes/footer') %>