<%- include('includes/head') %>
     <%- include('includes/navbar') %>

          <body>
               <div class="container">
                    <div class="container-agenda">
                         <div class="titles">
                              <h1>Agenda</h1>
                              <p>Seus Contatos estão abaixo</p>
                         </div>

                       <%- include('includes/messages')%>


                         <!-- // <table class="table">
                         //      <tbody>
                         //           <tr>
                         //                <td>NOME</td>
                         //                <td>SOBRENOME</td>
                         //                <td>NUMERO</td>
                         //                <td>EMAIL</td>
                         //           </tr>
                         //      </tbody>
                         // </table>  -->


                    </div>
               </div>
               <%- include('includes/footer') %>