<%- include('includes/head') %>
     <%- include('includes/navbar') %>
          <div class="login">
               testando o login
               <h1>label</h1>
          </div>
          <%- include('includes/footer') %>